.bodytext{
    display: flex;
    padding:55px 120px 20px 120px;
    justify-content: space-between;
}
.bodytext p{
    color: #032540;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}
.bodytext h2{
    color: #032540;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
}
.bodytext div{
   width: 50%;
}