.bodytext{
    display: flex;
    padding:55px 120px 20px 120px;
    justify-content: space-between;
}
.bodytext p{
    color: #032540;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}
.bodytext h2{
    color: #032540;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    margin-right: 35px;
}
.bodytext div{
   width: 50%;
}

@media only screen and (max-width:768px){
    .bodytext{padding:55px 50px 20px 50px;
    }
}

@media only screen and (max-width:425px){
    .bodytext{padding:55px 20px 20px 20px;
        flex-direction: column;}
        .bodytext h2{
            margin-bottom: 40px;
        }
        .bodytext div{
            width: 100%;
         }
}

