.header{
    background-color: #eaf1f9;
    
}
.header-text{
    
    padding: 20px 120px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: #032540;
    
    
}

.header-text h1{
    margin:20px 0 20px 0 
}
.header-text p {
    margin:20px 0 80px 0;
    font-family: 'Nunito', sans-serif;
}
.header-button{
    display: flex;
    justify-content: center;
}
.header button {
    background-color: #032540;
    padding: 20px;
    color: white;
    font-family: 'Nunito', sans-serif;
    transform:translate(0, 20px);
    border: none;
    width: 160px;
    
   
}
.header-image{
    width: 100%;
    height: 350px;
    background-image: url(../assets/header-image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
@media only screen and  (max-width:768px) {
     .header-text{
        padding: 20px 50px;
    } 
}

@media only screen and  (max-width:425px) {
    .header-text{
       padding: 20px 20px;
   } 
   .header-text{
    
    padding: 20px 20px;
    
    
    
}
}


