.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding:20px 100px 20px 100px;
    background-color: #eaf1f9;
    font-family: 'Nunito', sans-serif;
    
    
}
.navbar img{
    height: 40px;
}
.navbar ul{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style-type: none;
}
.navbar ul a{
    text-decoration: none;
    color: #032540;
    font-size: 16px;
}